In [1]:
import pandas as pd

In [2]:
s1 = pd.Series([1, 2, 3,4])
s2 = pd.Series([3,4, 5, 6])
#s3 = pd.Series([4, 5, 6], index=[3, 4, 5])

### Concat --union all

In [3]:
pd.concat([s1,s2])

0    1
1    2
2    3
3    4
0    3
1    4
2    5
3    6
dtype: int64

In [4]:
pd.concat([s1, s2], ignore_index=True)

0    1
1    2
2    3
3    4
4    3
5    4
6    5
7    6
dtype: int64

In [23]:
#axis=1 join them together by index
pd.concat([s1, s2],axis=1).rename(columns={0:"col1",1:"col2"})

   col1  col2
0     1     3
1     2     4
2     3     5
3     4     6

### concat() + drop_duplicates()--union

In [14]:
pd.concat([s1, s2], ignore_index=True).drop_duplicates()

0    1
1    2
2    3
3    4
6    5
7    6
dtype: int64

### isin  --intersect

In [15]:
s1[s1.isin(s2)]

2    3
3    4
dtype: int64

### ~isin --except

In [17]:
s1[~s1.isin(s2)]

0    1
1    2
dtype: int64

In [19]:
s2[~s2.isin(s1)]

2    5
3    6
dtype: int64

In [20]:
a=s1[~s1.isin(s2)]
b=s2[~s2.isin(s1)]
pd.concat([a,b])

0    1
1    2
2    5
3    6
dtype: int64

In [ ]:
s1=pd.read_csv("data/Countries Population from 1995 to 2020.csv")

In [24]:
s2=pd.read_csv("data/Countries.csv")

In [ ]:
s1.info()

In [ ]:
s2.info()

In [ ]:
a=s1[["Year","Country"]].rename(columns={"Year":"year","Country":"country"})
b=s2[["year","country"]]
pd.concat([a,b])

In [ ]:
pd.concat([a,b],ignore_index=0)

In [ ]:
pd.concat([a,b],ignore_index=0).drop_duplicates()

In [ ]:
odd_numbers = [(1),(2),(3),(5),(7),(9),(11)]
odd_numbers_s = pd.Series(odd_numbers)
odd_numbers_df = odd_numbers_s.to_frame("Id")

In [ ]:
even_numbers = [(1),(2),(4),(6),(8),(10),(12)]
even_numbers_s = pd.Series(even_numbers)
even_numbers_df = even_numbers_s.to_frame("Id")

In [ ]:
odd_numbers_df

In [ ]:
even_numbers_df

In [ ]:
import numpy as np

In [ ]:
even_numbers_df["new"] = np.random.random( )

In [ ]:
even_numbers_df

In [ ]:
pd.concat([even_numbers_df, odd_numbers_df])

In [ ]:
pd.concat([even_numbers_df, odd_numbers_df], ignore_index = True)

In [ ]:
even_numbers_df.append(odd_numbers_df, ignore_index = True)

In [ ]:
pd.concat([even_numbers_df, odd_numbers_df], ignore_index = True).drop_duplicates()

In [ ]:
pd.concat([even_numbers_df, odd_numbers_df], ignore_index = True).drop_duplicates()\
.sort_values(["Id"], ascending = [True])

In [ ]:
pd.merge(even_numbers_df, odd_numbers_df)

In [ ]:
mask = ~even_numbers_df["Id"].isin(odd_numbers_df["Id"])
even_numbers_df[mask]

In [ ]:
mask = ~odd_numbers_df["Id"].isin(even_numbers_df["Id"])
odd_numbers_df[mask]